:root{
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    height: 100vh;
}

body{
    margin: 0;
    height: 100%;
}

header{
    padding: 8px;
    
}

header > .navbar{
    display: grid;
    grid-auto-flow: column;
    box-sizing: border-box;
}

.navbar > search{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: min-content;
}

.navbar > search > button{
    border: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: white;
}

.navbar > search > img.icon{
    width: 100%;
    height: 100%;
}

.navbar > search > .search-box{
    height: 15px;
}

.navbar > nav{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    justify-content: flex-end;
    align-items: center;
}

.navbar > nav > :last-child{
    display: none;
}

header > .hero{
    margin-top: 12px;
    display: grid;
    grid-auto-flow: column;
    padding: 0 5px 0 5px;
}

.hero > .user-profile{
    display: grid;
    grid-auto-flow: column;
}

.user-profile > :first-child{
    display: none;
}

.user-profile > .intro{
    font-size: 1.8rem;
}

.user-profile > .intro > p{
    margin: 0;
}

.intro > :nth-child(1){
    font-size: 1.3rem;
}

.intro > :nth-child(2){
    font-weight: bold;
}

.hero > .user-actions{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.user-actions > button{
    border: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    background-color: #28a4ec;
    color: white;
    font-weight: bold;
}

.filter-blue{
    filter: invert(53%) sepia(54%) saturate(809%) hue-rotate(164deg) brightness(96%) contrast(92%);
}

.filter-yellow{
    filter: invert(78%) sepia(45%) saturate(4383%) hue-rotate(15deg) brightness(92%) contrast(95%); 
}

.nav-icon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 35px;
    height: 35px;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




aside{
    box-sizing: border-box;
    padding: 16px;
    height: 100%;
    background-color: #28a4ec;
    --text-color: white;
}
 
aside > h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin:0;
    color: var(--text-color);
    margin-bottom: 30px;

    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

aside > menu{
    list-style-type: none;
    padding-left: 8px;
    color: var(--text-color);
    display: grid;
    grid-template-rows: repeat(10, 45px);
}

aside > menu > li{
    font-size: 2rem;
    font-weight: bold;
}

aside > menu a{
    text-decoration: none;
    color: var(--text-color);
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 24px;
}

aside img{
    filter: invert(100%) sepia(4%) saturate(1041%) hue-rotate(172deg) brightness(118%) contrast(100%);
}

aside > h1 img{
    width: 50px;
    height: 50px;
}

aside > menu img{
    width: 25px;
    height: 25px;
}

aside{
    display: none;
}

main{
    padding: 16px;
    padding-top: 0;
    display: grid;
    gap: 12px;
}

main menu{
    list-style-type: none;
    padding-left: 0;
}

main section h1{
    font-size: 2rem;
}

main menu a{
    color: black;
    text-decoration: none;
    
}

main menu.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: inherit;
    gap: 16px;
}

menu.projects > li{
    display: grid;
    box-sizing: border-box;
    padding-left: 10px;
    grid-template-rows: auto min-content;
    border-left: 5px solid yellow;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

menu.projects .project-actions{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-content: center;
    gap: 15px;
}

.project-actions button{
    border: none;
    background-color: transparent;
    padding: 0;
}

.project-actions img{
    width: 25px;
}

menu.announcements h2{
    margin-bottom: 5px;
}

menu.announcements p{
    margin-top: 0;
}


menu.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
    gap: 16px;
    justify-items: center;
}

menu.trending a{
    display: grid;
    grid-auto-flow: column;
    gap: 14px;
}

menu.trending div *{
    margin: 0;
}

menu.trending div :first-child{
    margin-bottom: 4px;
}


menu.trending img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40  px;
    border-radius: 50%;
}